.home-pg1 {
    height: 87vh;
}
.page1container{
    background-image: linear-gradient(320deg, red, purple);
    color: white;
    border-radius:30px;
}
.page1container h1{
    font-size: 3rem;
}